/*Source: https://www.cufonfonts.com/font/sega-logo-font*/

@font-face{
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), 
	url('MR ROBOT.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: yellow;
}